h1 {
  font-size: 25px;
  line-height: 30px;
  color: #0D0B6C;
  padding: 20px 0 0 25px;
  font-weight: bold;
}

img {
  width: 100%;
}

.mt-324 {
  margin-top: 324px;
}

.mt-290 {
  margin-top: 290px;
}

.mt-252 {
  margin-top: 252px;
}

.mt-215 {
  margin-top: 215px;
}

.mt-178 {
  margin-top: 178px;
}

.mt-10 {
  margin-top: 10px;
}
