<app-header></app-header>
<div>
  <h1>Chat</h1>
  <img *ngIf="chat1" src="../../../assets/img/chat/chat-1.jpg">
  <img *ngIf="chat2" src="../../../assets/img/chat/chat-2.jpg">
  <img *ngIf="chat3" src="../../../assets/img/chat/chat-3.jpg">
  <img *ngIf="chat4" src="../../../assets/img/chat/chat-4.jpg">
  <img *ngIf="chat5" src="../../../assets/img/chat/chat-5.jpg">
  <img *ngIf="chat6" src="../../../assets/img/chat/chat-6.jpg">
  <img *ngIf="chat7" src="../../../assets/img/chat/chat-7.jpg">
  <img *ngIf="chat8" src="../../../assets/img/chat/chat-8.jpg">
  <img *ngIf="chat9" src="../../../assets/img/chat/chat-9.jpg">
</div>
<img src="../../../assets/img/chat/mensagem.jpg" [ngClass]="mtDinamico">
<app-footer></app-footer>
